html{
    font-family: 'Roboto';
}
body{
    margin:0px;
    background: #cbd5e1;
    
}

.container{
    display:grid;
    grid-template-columns: 1fr 5fr;
    
    
}

.dashboard{
    background: #0284c7;
    color:#f8fafc;
    display: grid;
    grid-template: 1fr 1fr 1fr;
   
}

.header{
    display:flex;
    gap:10px;
    padding-left:1rem;
}
svg{
    fill: #f8fafc;
    width:1.5rem;
    aspect-ratio: 1;
}
.nav{
    margin-bottom:2rem;

}
ul{
    padding:0.6rem;
}

li{
    list-style-type:none;
    padding:10px;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap:20px
}

a{
    text-decoration: none;
    color:#f8fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
}

.panel{
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.panel>.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: #f8fafc;
}
.search-bar{
    display:flex;
    justify-content: left;
    align-items: center;
    gap:0.5rem;
    grid-column: span 2;

}

 .search-bar > a > svg{
    fill: #3f3f46;
}


.search-bar > input{
    width:80%;
    height: 1.5rem;
    background-color: #cbd5e1;
    border:0;
    border-radius:100vh;
}

.icons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;

}
.icons > svg{
    fill: #3f3f46; 
}

.user-icon{
    background-color: #eab308;
    width:2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    grid-row: span 2;
   

}
.user-name{
    font-weight: 500;
}

.name-data{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;

}
.name-buttons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: span 2;
    justify-content: center;
}
button{
    background-color: #0284c7;
    color:white;
    width: 100px;
    height: 40px;
    border-radius: 100vh;
    border:0;
   
}

.wrapper{
    display:grid;
    grid-template-columns: 3fr 1fr;

}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.various{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}