html, body {
    background-color: #1F2937;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    width: 100%;
    margin:0;
    overflow: hidden;
  }
  .header {
    display: flex;
    width: 100%;
  }
  .logo{
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    margin-left: 150px;
  }
  .links-header{
    margin-left: auto;
    margin-right: 150px;
   
  }

  a{

    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin:10px;
  }

  .container{
    overflow:hidden;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .container1{
    background-color: #1F2937;
    height:25%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
  
  }

  .letters{
   justify-content: space-between;

  }

  #text1{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
    
  }
  #text2{
    color:#e5e7eb;
    font-size: 18px;
  }

  button{
    color:#eeee;
    background-color:#3882F6;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin:20px;
  }

  .placeholder{
   
    background-color: #60656c;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    
  }

  .placeholder-text{
    color: #eee;
   
  }









  .container2{
    background-color: #eee;
    width:100%;
    height:25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .title{
    color:#1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 20px;
  }
  .images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    
  }
  img{
    width: 120px;
    height: auto;
  }

  .text{
    text-align: center;
   
  }
















  .container3{
 
    background-color: #e5e7eb;
    width:100%;
    height:25%;
   
  }
  .container4{

    background-color: #eee;
    width:100%;
    height:25%;

  }