html{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background: #A2D9CE;
    width: 100%;
    margin:0px;

}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    background: #73C6B6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin:1rem;
    flex-wrap: nowrap;

}
.header>h1{
    font-size: 3rem;
    color:#082C15;
}
button{
    background: #082C15;
    color: #D4EFDF;
    border-radius: 100vh;
    border:0px;
    width: 6rem;
    aspect-ratio: 2;
    font-weight: 800;
    font-size: 1rem;
    padding:1rem;
    margin-left:5rem;

}
.pop-up{
    background: #D4EFDF;
    width: 20rem;
    aspect-ratio: 1.1;
    border-radius: 10px;
    padding:2rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:15rem;
    align-items: center;
    gap:2rem;
    
}

.pop-up>input{
    border-radius: 10px;
    border:0px;
    width: 15rem;
    aspect-ratio: 6;
    font-size: 1rem;
    text-transform: capitalize;
    
}
.pop-up>h1{
    color:#082C15;
}
.pop-up>button{
    margin:0px;
    width: 5rem;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding:1rem;
    gap:2rem;
}



.card{
    background: #D4EFDF;
    width: 25rem;
    aspect-ratio: 1.3;
    border-radius: 10px;
}

